 <tr>
   <td><%= question.title %></td>   
   <td><%= link_to 'Edit', edit_question_path(@test, @question) %></td>  
   <td><%= link_to "Delete", question_path(@question),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td>  
</tr>
