<h1 class="text-center mt-3"><%= t('.header') %></h1>

<table class='table table-striped'>
    <tr>
        <th><%=t('.title')%></th>
        <th><%=t('.img')%></th>
    </tr>

    <%= render @badges %>

</table>
