
<h2 class="text-center mt-3"> Созданные GISTS</h2>
<table class='table table-striped'>
    <tr>
        <th>Question</th>
        <th>Url</th>
        <th>User</th>
    </tr>

    <%= render @gists %>
    
</table>
