<br>
<br>
<p>Текущий год: <%= current_year %> </p>
<p>Автор Иван Филин. Учебный проект </p>
<p><%= link_to "Project page", "https://github.com/filinivan/TestGuru" %></p>
<p><%= link_to " Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com" %></p>
<p><%= github_url("Author Ivan Filin", "https://github.com/filinivan/TestGuru")%></p>
