
        <tr>
            <td><%= test.title %></td>
            <td><%= test_level(test) %></td>
            <td class="questions-quantity"><%= test.questions.length %></td>
            <td><%= button_to t('.start'), start_test_path(test), form_class: "start-test" %></td>
        </tr>
